.home-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.your-library-container {
    width: 25%;
}

.discover-music-container {
    width: 75%;
}

.album-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(1fr, 1fr));
    gap: 25px;
}

.album-tile {
    width: 190px;
    height: 252px;
    list-style-type: none;
    text-align: center;
    background-color: rgb(28, 28, 28);
    margin-top: 0px;
    border-radius: 8px;
}

.album-tile:hover {
    background-color: rgb(40, 40, 40);
}

.album-tile Link {
    text-decoration: none;
}

.album-tile h3 {
    margin: 0px;
    font-size: medium;
}

.album-tile p {
    margin: 0px;
    font-size: medium;
}

.album-image {
    width: 150px;
    height: 180px;
    object-fit: cover;
    border-radius: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#all-albums-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

#all-songs-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

/* #all-playlist-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
} */

.album-grid-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    margin-right: 50px;
}

.link-as-text {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.link-as-text:hover {
    text-decoration: underline;
}

/* .item-scroll div {
    gap: 50px;
} */

.fa-solid.fa-angles-left {
    margin-right: 10px;
    cursor: pointer;
    color: rgb(160, 160, 160);
}

.fa-solid.fa-angles-left:hover {
    color: white;
    font-weight: 900;
}

.fa-solid.fa-angles-right {
    cursor: pointer;
    color: rgb(160, 160, 160);
}

.fa-solid.fa-angles-right:hover {
    color: white;
    font-weight: 900;
}
