.album-details-container {
    padding-left: 3%;
    display: flex;
    flex-direction: column;
    gap: 0px;

}

.album-header-container {
    display: flex;
    margin-bottom: 2%;
}

.album-info-container {
    width: 100%;
    align-self: bottom;
    padding-left: 3%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.album-details-art {
    width: 270px;
    height: 270px;
    object-fit: cover;
}

#album-info {
    margin-bottom: 2.5px;
}

#album-length {
    margin-top: 2.5px;
    color: rgba(255, 255, 255, 0.701)
}

.album-name-header {
    font-size: 400%;
    margin-top: 0%;
    margin-bottom: 0%;
}

table.details-songs-container {
    width: 100%;
    padding-left: 0%;
    margin-top: 1%;
    display: grid;
    grid-template-columns: repeat(auto-fill), 1fr;
    grid-template-areas:
        "track-header name-header . clock-header 1 2 "
        "track name song-heart song-time song-manage-buttons plsong-buttons";
    border: red 2px solid;

}

tr.details-songs-header {
    /* display: flex; */
    width: 100%;
    margin: 0;
    padding-top: 0;
    /* justify-content: space-between; */
    /* align-items: center; */
    /* height: fit-content; */
    border-bottom: .5px solid rgb(74, 74, 74);
    color: rgb(160, 160, 160);
    /* margin-bottom: 25px; */
}

th.track-number-cells {
    grid-area: track-header;
    background-color: transparent;
    color: rgb(160, 160, 160);
    border: 0px;
    box-shadow: 0px;
    width: 7%;
    text-align: left;
}

td.track-number-cells {
    grid-area: track;
    background-color: transparent;
    color: rgb(160, 160, 160);
    border: 0px;
    box-shadow: 0px;
    width: 7%;
    text-align: left;
}

.song-name-cells {
    grid-area: name;
    width: 100%;
    text-align: left;
    /* margin-left: 2%; */
}

.song-time-cells {
    grid-area: song-time;
}

.fa-regular.fa-clock {
    grid-area: clock-header;
    color: rgb(160, 160, 160);
    padding-right: 5%;
}

.album-song-time {
    color: rgb(160, 160, 160);

}

.details-songs-play-button {
    background-color: transparent;
    color: rgb(160, 160, 160);
    border: 0px;
    box-shadow: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-right: 5%;
    margin-top: 17px;
}

.details-songs-play-button:hover {
    background-color: rgb(45, 45, 45);
    border-radius: 10px;
}

.number-name-container {
    display: flex;
    align-items: center;
}

.change-to-how-album-details-index-has-it {
    display: flex;
    align-items: center;
}



.album-buttons-container {
    display: flex;
    align-items: center;
    height: 100%;
    gap: 11px;
}

.add-music-button-container:hover {
    cursor: pointer;
    transform: scale(0.95);
}

.album-play-button {
    background-color: transparent;
    color: rgb(33, 204, 6);
    border: 0px;
    box-shadow: 0px;
    height: 100%;
    font-size: 400%
}

.album-play-button:hover {
    color: rgb(34, 255, 0);
    font-size: 403%;
}

.fa-sharp.fa-solid.fa-circle-play {
    width: 100%;
    height: 100%;
}

.fa-regular.fa-trash-can:hover {
    color: white;
}

.fa-solid.fa-pen-to-square:hover {
    color: white;
}
