.profile-container {
    margin-inline-start: 30px;
    /* margin-top: 10px; */
}

.section-container {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    align-items: center;
    margin-bottom: -30px;
}

.create-album-button {
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    margin-top: 6px;
    margin-left: 15px;
    color: #21cc06;
    font-size: 20px;
}

.create-album-button:hover {
    color: rgb(34, 255, 0);
}

/* .section-container h2{
    margin-bottom: -13px;
} */

.album-grid {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}

.song-grid {
    display: flex;
    flex-direction: row;
}

.profile-tile-buttons {
    position: relative;
    left: 140px;
    top: 51px;
    visibility: hidden;
    opacity: 0; 
    transform: translateY(20px);
    transition: visibility 0s, opacity 0.5s, transform 0.5s;
}

.profile-tile-container:hover .profile-tile-buttons {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}

.profile-tile-buttons > * + * {
    margin-left: 10px;
    color:rgb(208, 0, 0);
}

/* .update-delte-music-buttons fa-solid {
    position: relative;
    right: 34px;
} */

.profile-tile-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(1fr, 1fr));
    gap: 25px;
}
