.profile-container {
    margin-inline: 60px;
    /* margin-top: 10px; */
}

.profile-container h1 {
    margin-top: 60px;
    margin-bottom: 20px;
    font-size: 45px;
}

.create-album-button {
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    margin-top: 6px;
    margin-left: 15px;
    color: #21cc06;
    font-size: 21px;
}

.create-album-button:hover {
    color: rgb(34, 255, 0);
}

.profile-tile-buttons {
    display: flex;
    position: absolute;
    right: 5px;
    top: 5px;
    opacity: 0;
    transform: translateY(20px);
    transition: visibility 0s, opacity 0.3s, transform 0.3s;
    z-index: 98;
}

.profile-tile-container:hover .profile-tile-buttons {
    opacity: 1;
    transform: translateY(0);
}

.profile-tile-buttons > * + * {
    margin-left: 4px;
    color:rgb(208, 0, 0);
}

.profile-tile-container {
    position: relative;
}

.create-playlist-button {
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    margin-top: 6px;
    margin-left: 15px;
    color: #21cc06;
    font-size: 21px;
}

.create-playlist-button:hover {
    color: rgb(34, 255, 0);
}
